---
---

@import 'framasoft';

/* RESET */

/*
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
*, *:before, *:after {
    box-sizing: border-box;
    /* if you really care about older browsers, add prefixed versions at your own risks */
}

/*
  Repeating the background mostly makes sense in the <body>. Otherwise, people usually want the image and preferably its center (not the top-right corner)
*/
*:not(body) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*
  Makes the hidden attribute works even when an element is styled display: flex
  http://lists.w3.org/Archives/Public/public-whatwg-archive/2014May/0001.html
*/
[hidden] {
    display: none !important;
}


html, body {
    padding: 0;
    margin: 0;
}

/*
  In applications, there can be lists but HTML lists have bullet points and a bunch of useless styling attributes
*/
ul, ol, menu {
    margin: 0;
    padding: 0;

}

ul, menu {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

/* default iframe borders are just ugly */
iframe {
    border: 0;
}


* {
    border-collapse: collapse;
}

/* DES VRAIS STYLES */
html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-color: #ffe7b3;
}

main {
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
}

header {
  font-size: 0.6em;
  margin-bottom: 2em;
}

header a {
  color: black;
}

#welcome, #fin_score {
  text-align: center;
  margin-top: 3em;
}

.screen {
    display: none;
}

.screen:target {
    display: block;
}

.screen,
h1 {
    text-align: center;
}

h1 {
    margin-bottom: 5rem;
}

.btn {
  display: inline-block;
  margin: 2rem;
  padding: 1.6rem;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #ffe7b3;
  font-size : 2rem;
  min-width: 200px;
}

.btn,
.btn:hover {
    color: #000;
}

.btn:hover {
    text-decoration: none;
   box-shadow: 1px 1px #000 inset, -1px -1px #000 inset;
}

.reponses {
  text-align: center;
  margin-top: 2em;
}

.affichageScore {
  font-size : 1.4em;
  margin-top: 2em;
}

.affichageScore strong {
  font-weight : bold;
  font-size : 1.6em;
}

.echelleMatrice {
  margin-top : 2em;
}

.echelleMatrice span {
  font-weight : bold;
}



//
// body{
//     background-color: var(--f-body-bg);
// }
//
// header, main{
//     background-color: white;
// }
//
// article.notice{
//     .logo-lien{
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-around;
//
//         & > * {
//             flex: 1;
//         }
//
//         img{
//             object-fit: scale-down;
//             max-width: 50%;
//             max-height: 10rem;
//         }
//
//
//         a{
//             max-width: 13rem;
//             margin: 0 0.5rem;
//         }
//     }
//
//     h2{
//         display: inline;
//         font-size: 1em;
//         font-weight: bold;
//     }
//
//     section{
//         margin-bottom: 1rem;
//
//         ul{
//             margin-top: 0.5rem;
//
//             li{
//                 margin-bottom: 1rem;
//             }
//         }
//     }
// }
