// // Colors
//
// :root {
//     --f-dark:#2d3748;
//     --f-light:#edf2f7;
//     --f-info:#2c6a82;
//     --f-success:#6c7e31;
//     --f-warning:#cc4e13;
//     --f-danger:#c42719;
//     --f-muted:#545454;
//     --f-violet:#725794;
//     --f-orange:#cc4e13;
//     --f-bleu:#2c6a82;
//     --f-rouge:#c42719;
//     --f-vert:#6c7e31;
//     --f-jaune:#c47123;
//     --f-marron:#68524a;
//
//     --f-body-bg:#e2e8f0;
//
//     --f-primary:#725794;
//     --f-secondary:#4a5568;
// }
// .violet {
//     color:var(--f-violet);
// }
// .orange {
//     color:var(--f-orange);
// }
// .bleu {
//     color:var(--f-bleu);
// }
// .rouge {
//     color:var(--f-rouge);
// }
// .vert {
//     color:var(--f-vert);
// }
// .jaune {
//     color:var(--f-jaune);
// }
//
// h1 {
//     font-family: "DejaVu Sans","Verdana","Geneva",sans-serif;
//     color: var(--f-secondary);
// }
//
// h2,h3,h4,h5,h6 {
//     font-family: "Roboto",sans-serif;
//     color: var(--f-secondary);
// }
//
// hr.trait {
//     background-color: #edf2f7;
//     height: 11px;
//     border: 0;
// }
//
// .btn-primary {
//     color: #fff;
//     background-color: var(--f-primary);
//     border-color: var(--f-primary);
//
//     &:hover{
//         background-color: #5f497c;
//         border-color: #5f497c;
//     }
// }
//
// a[href]:not(.btn){
//     background-image: linear-gradient(#a87ede,#a87ede), linear-gradient(#a0aec0,#a0aec0);
//     background-size: 0 2px, 100% 2px;
//     background-position: bottom, bottom;
//     transition: background-size .25s ease-in-out;
//     background-repeat: no-repeat;
//     padding-top: 2px;
//     padding-bottom: 2px;
//
//     text-decoration: none !important;
//     color: var(--f-primary);
//
//     &:hover{
//         background-size: 100% 2px;
//         color: #4d3b64 !important;
//     }
//
// }
