<!doctype html>
<html lang="{{ site.lang }}">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <main>
        {{ content }}
        </main>

        <script>
          {%- include script.js -%}
        </script>

    </body>
</html>
