---
layout: default
styles:
    - href: "main.css"
---

<article class="notice">
    <h1>{{ page.nom }}</h1>

    <hr class="trait">

    <section class="logo-lien">
        <!-- TODO documenter pourquoi on met ou on ne met pas un alt-text-->
        <img src="{{ page.logo.src }}">

        <a class="btn btn-primary" href={{ page.site_web }}>Voir le site</a>
    </section>

    <section>
        <h2>Disponible sur </h2>{{ page.plateformes }}
    </section>
    <section>
        <h2>Langues </h2>{{ page.langues }}
    </section>

    <section class="description">
        {{ content }}
    </section>


    <section>
        <h2>Créateur·ices </h2>{{ page.createurices }}
    </section>
    <section>
        <h2>Licence(s) </h2>{{ page.licences }}
    </section>
    <section>
        <h2>Mots-clefs</h2>
        {% for tag in page.tags %}
            {% assign detailsId = tag | replace: " ", "-" | prepend: "tag-" %}
            <a href="{{ "/" | relative_url | append: '#' | append: detailsId}}">{{tag}}</a>, 
        {% endfor %}
    </section>
    <section>
        <h2>Liens externes</h2>
        <ul>
            <!-- TODO rajouter un if au cas où y'a pas de lien-->
            <li><a href={{ page.lien_wikipedia }}>Lien Wikipédia</a></li>
            <li><a href={{ page.lien_exodus }}>Lien Exodus Privacy</a></li>
        </ul>
    </section>
    <section>
        Fiche crée le {{ page.date_creation }}
    </section>
</article>