---
layout: question
styles:
    - href: "main.css"
---

<a href="{{ question.url }}{{ page.chemin_suivant }}.html" data-score="{{ page.score }}" class="btn">
  Oui
</a>
<a href="{{ question.url }}{{ page.chemin_non }}.html" class="btn">
  Non
</a>
