---
layout: default
styles:
    - href: "main.css"
---

<article class="notice">

  <section id="{{ page.code_api }}">
    <h2>{{ page.libelle }}</h2>
    {% if page.description %}
      <details>
        <summary>Description</summary>
        {{ page.description }}
      </details>
    {% endif %}
    {% if page.exemples %}
      <details>
        <summary>Exemples</summary>
        {{ page.exemples }}
      </details>
    {% endif %}

    <div class="reponses">
    {{ content }}
    </div>
  </section>
</article>

<hr>

<strong> Le score est de <output></output>.</strong>
